.App-light {
  --background: #FFFFFF;
  --secondary: #E8EAEE;
  --text: #1F2329;
  --highlight: #00739A;
}

.App-dark {
  --background: #18191E;
  --secondary: #1F2329;
  --text: #EAEBED;
  --highlight: #0094C3;
}

.App {
  text-align: center;
  background-color: var(--background);
  color: var(--text);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary);
  height: 10vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.App-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-container {
  flex: 1;
  margin-right: 5%;
  margin-left: 5%;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.FilterColum {
  flex: 0 0 20%;
  margin-bottom: 20px;
}

.GroupGrid {
  flex: 0 0 60%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}