/* App.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary);
    padding: 10px;
    height: 100%;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

button {
    padding: 8px 16px;
    background-color: var(--highlight);
    color: var(--secondary);
    border: 1px solid var(--highlight);
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
    width: 13%;
}

button:hover {
    filter: brightness(130%);
}  
