.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.search-input-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  padding: 5px 15px; /* Increase the horizontal padding for a slightly longer container */
  width: 50%; /* Adjust the width to fit its content */
  
  margin: 30px auto; /* Add auto margin to center the search bar */
}

.search-input {
  border: none;
  background-color: transparent;
  font-size: 24px;
  padding: 10px;
  margin-right: 10px;
  width: 100%;
  outline: none;
}

.search-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #514f55;
}

.search-icon {
  font-size: 25px;
  color: #fff;
}
